// Rows
	.row{
		position:relative;
		display:block;
		margin:0 auto;
		width:100%;
		max-width: 100% !important;
		@include clearfix();
		&.table-large{
			display:table;
			table-layout:fixed;
			text-align:left;
			margin:0;
			padding:0 0.25em;
			>.columns{
				display:table-cell;
				float:none;
				vertical-align: top;
				&.vMiddle{
					vertical-align: middle;
				}
			}
			@media all and (max-width: $tablet){
				display:block;
				>.columns{
					display:block;
					float:left
				}
			}
		}
		&.table-medium{
			display:table;
			table-layout: fixed;
			padding:0 0.25em;
			.columns{
				display:table-cell;
				float:none;
				vertical-align: top;
				&.vMiddle{
					vertical-align: middle;
				}
			}
			@media all and (max-width: $mobile){
				display:block;
				.columns{
					display:block;
				}
			}
		}
		&.table-small{
			display:table;
			.columns{
				display:table-cell;
				float:none;
				vertical-align: middle;
			}
		}
		@media all and (max-width:$tablet){
			&.noPadMobile{
				padding:0px;
				.columns{
					padding:0px;
				}
			}

			.columns{	
				&.mediumPad{
					padding:0 10px;
				}
			}
		}
		@media all and (max-width:$mobile){
			.columns{	
				&.mediumPad{
					padding:0px;
				}
			}
		}
	}

// Columns
	.columns{
		display:block;
		float:left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		@for $i from 1 through 12{
			&.small-#{$i}{
				width:(100%/12) * $i;
				float:left;	
			}
		}
		@for $i from 1 through 12{
			&.medium-#{$i}{
				width:(100%/12) * $i;
				float:left;	
			}
		}
		@for $i from 1 through 12{
			&.large-#{$i}{
				width:(100%/12) * $i;	
			}
		}
		@for $i from 1 through 12{
			&.large-pull-#{$i}{
				position:relative;
				left:-(100%/12) * $i;
			}
		}
		@for $i from 1 through 12{
			&.large-push-#{$i}{
				position:relative;
				left:(100%/12) * $i;
			}
		}
		@for $i from 1 through 12{
			&.medium-pull-#{$i}{
				position:relative;
				left:-(100%/12) * $i;
			}
		}
		@for $i from 1 through 12{
			&.medium-push-#{$i}{
				position:relative;
				left:(100%/12) * $i;
			}
		}
		@for $i from 1 through 12{
			&.small-pull-#{$i}{
				position:relative;
				left:-(100%/12) * $i;
			}
		}
		@for $i from 1 through 12{
			&.small-push-#{$i}{
				position:relative;
				left:(100%/12) * $i;
			}
		}
		&.centered{
			position:relative;
			float:none !important;
			margin:0 auto;
		}
		@media all and (max-width: $tablet){
			@for $i from 1 through 12{
				&.large-#{$i}{
					width:100%;
				}
			}
			@for $i from 1 through 12{
				&.large-pull-#{$i}{
					position:static;
					left:auto;
				}
			}
			@for $i from 1 through 12{
				&.large-push-#{$i}{
					position:static;
					left:auto;
				}
			}
			@for $i from 1 through 12{
				&.small-#{$i}{
					width:(100%/12) * $i;	
				}
			}

			@for $i from 1 through 12{
				&.medium-#{$i}{
					width:(100%/12) * $i;	
				}
			}

		}
		@media all and (max-width: $mobile){
			@for $i from 1 through 12{
				&.large-#{$i}{
					width:100%;
				}
			}

			@for $i from 1 through 12{
				&.medium-#{$i}{
					width:100%;
				}
			}

			@for $i from 1 through 12{
				&.medium-pull-#{$i}{
					position:static;
					left:auto;
				}
			}
			@for $i from 1 through 12{
				&.medium-push-#{$i}{
					position:static;
					left:auto;
				}
			}
			@for $i from 1 through 12{
				&.small-#{$i}{
					width:(100%/12) * $i;	
				}
			}

		}
	}