@mixin roboto($type, $size, $color){
	font-size:$size;
	color:$color;
	font-family:'Roboto';
	@if $type == 'light' {
		font-weight: '300';
	} @else if $type == 'normal' {
		font-weight: '400';
   	} @else if $type == 'medium' {
		font-weight: '500';
   	} @else {
		font-weight:'400';
   	}
}